.register-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
    padding-left: 0;
    padding-right: 120px;
    h3 {
        color: #9c9c9c;
    }
}

.register-title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 25px;
    color: #5c5c5c!important;
}

/*----------------------------------------------*/

/*------------------RESPONSIVE------------------*/

/*----------------------------------------------*/

@media screen and (max-width:512px) {
    .register-text {
        padding-right: 0;
    }
    .register-title {
        margin-top: 50px;
        font-size: 28px;
    }
}